body {
  background-color: #385723;
  font-family: sans-serif;
}

img {
  width: 100%;
}

hr {
  width: 80%;
  margin: 100;
}

#content {
  margin : 0 5%;
}

.yellow {
  color: yellow;
  font-weight: bold;
  text-decoration: underline;
}

.part {
  text-align: center;
  padding: 5% 0;
}

.part h3, p {
  text-align: left;
}

.part li {
  text-align: center;
}

.part li p {
  text-align: left;
}

.part .right {
  text-align: right;
}

#eq1 {
  width: 85%;
  max-width: 1000px;
}

#eq2 {
  width: 35%;
  max-width: 500px;
}

#eq3 {
  width: 75%;
  max-width: 800px;
}

#eq4, #eq5, #eq6 {
  width: 80%;
  max-width: 900px;
}

.box {
  padding: 0 20px; 
  margin: 5% 0; 
  border: 2px dashed whitesmoke;
}

h3, p, li {
  color: white;
  font-size: medium;
}

h3 {
  text-decoration-line: underline;
}

.footer{
  width: 100%;
  text-align: center;
  margin: 5% 0;
}

.footer a:link{
 color: white;
}
.footer a:visited{
 color: white;
}
.footer a:hover{
 color: yellow;
}
.footer a:active{
 color: yellow;
}