body {
  background-color: #385723;
  color: white;
  font-family: sans-serif;
}

img {
  width: 100%;
}

hr {
  width: 80%;
  margin: 100;
}

.sp-br {
  display: none;
}

#content {
  margin : 0 5%;
}

.yellow {
  display: block;
  color: yellow;
  font-weight: bold;
}

.part {
  text-align: center;
  padding: 5% 0;
}

.part h3, p {
  text-align: left;
}

.part li {
  text-align: center;
}

.part li p {
  text-align: left;
}

.part .right {
  text-align: right;
}

#eq1 {
  width: 85%;
  max-width: 1000px;
}

#eq2 {
  width: 35%;
  max-width: 500px;
}

#eq3 {
  width: 75%;
  max-width: 800px;
}

#eq4, #eq5, #eq6 {
  width: 80%;
  max-width: 900px;
}

.box {
  padding: 0 20px; 
  margin: 5% 0; 
  border: 2px dashed whitesmoke;
}

h3 {
  text-decoration-line: underline;
}


.spinner-container {
  display: flex;
  justify-content: left;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  font-size: medium;
}

.spinner-title {
  line-height: 30px;
  margin-right: 20px;
}

.spinner {
  margin: 0 10px;
  width: 50px;
  padding: 0;
  text-align: center;
  /* border: none; */
  /* background: none; */
  outline: none;
  /* pointer-events: none; */
}

.spinner::-webkit-inner-spin-button, .spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.spinner-sub, .spinner-add {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  line-height: 30px;
}

.disabled {
  opacity: 0.3;
  cursor: inherit;
}


@media (max-width: 600px) { /* for smart phone*/
  .sp-br {
    display: inline;
  }
  .yellow {
    text-indent: 20px;
  }
}

.footer{
  width: 100%;
  text-align: center;
  margin: 5% 0;
}

.footer a:link{
  color: white;
}
.footer a:visited{
  color: white;
}
.footer a:hover{
  color: skyblue;
}
.footer a:active{
  color: pink;
}
.footer div{
  margin-bottom: 20px;
}