html,body{
  background-color: rgb(56, 59, 59);
  height: 100%;
}
.contents{
  text-align: center;
}
.background-image{
  width: 95%;
}

.form{
  text-align: center;
  color: white;
}

.month-select {
        /* デフォルトのスタイルを解除*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
        /* スタイル指定*/
    display: inline-block;
    width: 7%; /* 幅 */
    margin: 1% 4% 1% 2%; /* 前後の余白 */
    padding: 1%; /* 文字周りの余白 */
    cursor: pointer; /* カーソルを指に */
    line-height: 250%; /*行高 */
    font-size: 100%; /*フォントサイズ */
    font-weight: 900; /* 太字に */
    color:#333; /* 文字色 */
    border-radius: 4px; /* 角丸 */
    background-color: #f7f9fb; /* 背景色 */
    /* border: solid 1px #fc00d2; /* 枠線 */
    box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
    /*位置指定*/
    /* position: absolute;
    top: 75%;
    left: 40%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); */
    /* 三角マークを作る */
    background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
    background-size: 5px 5px, 5px 5px;
    background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
    background-repeat: no-repeat;
  }

  .day-select {
    /* デフォルトのスタイルを解除*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* スタイル指定*/
    display: inline-block;
    width: 7%; /* 幅 */
    margin: 1% 4% 1% 1%; /* 前後の余白 */
    padding: 1%; /* 文字周りの余白 */
    cursor: pointer; /* カーソルを指に */
    line-height: 250%; /*行高 */
    font-size: 100%; /*フォントサイズ */
    font-weight: 900; /* 太字に */
    color: #333; /* 文字色 */
    border-radius: 4px; /* 角丸 */
    background-color: #f7f9fb; /* 背景色 */
    /* border: solid 1px #fc00d2; 枠線 */
    box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
    /*位置指定*/
    /* position: absolute;
    top: 75%;
    left: 51%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); */
    /* 三角マークを作る */
    background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
    background-size: 5px 5px, 5px 5px;
    background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
    background-repeat: no-repeat;
  }
.submit1{
  margin:auto;
  cursor: pointer;
}

.footer{
  width: 100%;
  text-align: center;
  margin:0 auto;
}

.footer a:link{
  color: white;
}
.footer a:visited{
  color: white;
}
.footer a:hover{
  color: skyblue;
}
.footer a:active{
  color: pink
}

@media screen and (min-width:375px) {
  
  html,body{
    background-color: rgb(56, 59, 59);
    height: 95%;
  }
  .contents{
    text-align: center;
  }
  .background-image{
    width: 100%;
  }
  
  .form{
    text-align: center;
    color: white;
  }

  .month-select {
          /* デフォルトのスタイルを解除*/
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
          /* スタイル指定*/
      display: inline-block;
      width: 5%; /* 幅 */
      margin: 1% 4% 1% 2%; /* 前後の余白 */
      padding: 1%; /* 文字周りの余白 */
      cursor: pointer; /* カーソルを指に */
      line-height: 250%; /*行高 */
      font-size: 100%; /*フォントサイズ */
      font-weight: 900; /* 太字に */
      color:#333; /* 文字色 */
      border-radius: 4px; /* 角丸 */
      background-color: #f7f9fb; /* 背景色 */
      /* border: solid 1px #fc00d2; /* 枠線 */
      box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
      /*位置指定*/
      /* position: absolute;
      top: 75%;
      left: 40%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%); */
      /* 三角マークを作る */
      background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
      background-size: 5px 5px, 5px 5px;
      background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
      background-repeat: no-repeat;
    }

    .day-select {
      /* デフォルトのスタイルを解除*/
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      /* スタイル指定*/
      display: inline-block;
      width: 6%; /* 幅 */
      margin: 1% 4% 1% 1%; /* 前後の余白 */
      padding: 1%; /* 文字周りの余白 */
      cursor: pointer; /* カーソルを指に */
      line-height: 250%; /*行高 */
      font-size: 100%; /*フォントサイズ */
      font-weight: 900; /* 太字に */
      color: #333; /* 文字色 */
      border-radius: 4px; /* 角丸 */
      background-color: #f7f9fb; /* 背景色 */
      /* border: solid 1px #fc00d2; 枠線 */
      box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
      /*位置指定*/
      /* position: absolute;
      top: 75%;
      left: 51%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%); */
      /* 三角マークを作る */
      background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
      background-size: 5px 5px, 5px 5px;
      background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
      background-repeat: no-repeat;
    }
  .submit1{
    margin:auto;
    cursor: pointer;
  }

  .footer{
    width: 100%;
    text-align: center;
    margin:0 auto;
  }

  .footer a:link{
    color: white;
  }
  .footer a:visited{
    color: white;
  }
  .footer a:hover{
    color: skyblue;
  }
  .footer a:active{
    color: pink
  }
}
