body {
  background-color: #C9AD7D;
}

.blackboard {
  text-align: center;
  position: relative;
}

.blackboard img {
  width: 50%;
}

#blackboard-contents {
  position: absolute;
  top: 10%;
  padding: 0 30%;
}

#blackboard-contents button {
  display: none;
}

#message {
  text-align: left;
  color: white;
  font-size: small;
}

#check_all {
  display: block;
  cursor: pointer;
  width: 160px;
  text-align: center;
  border: 1px solid #232323;
}

@media (max-width: 600px) {
  .blackboard img {
    width: 100%;
  }

  .blackboard p {
    padding: 0 5%;
  }
}