body {
  background-color: #C9AD7D;
}

.blackboard {
  text-align: center;
  position: relative;
}

.blackboard img {
  width: 50%;
}

#blackboard-contents {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  display: flex;
  flex-direction: column;
}

#blackboard-contents button {
  margin: 5% 20%;
  display: none;
}

#message {
  margin: 5%;
  text-align: left;
  color: white;
}

.area {
  margin: 20px auto;
  text-align: center;
}

#check_all {
  display: inline-block;
  cursor: pointer;
  width: 160px;
  height: 50px;
  border: 1px solid #232323;
}

@media (max-width: 600px) {
  #blackboard-contents {
    width: 100%;
  }
  
  .blackboard img {
    width: 100%;
  }

  .blackboard p {
    padding: 0 5%;
  }
}

.footer{
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.footer a:link{
  color: black;
}
.footer a:visited{
  color: black;
}
.footer a:hover{
  color: skyblue;
}
.footer a:active{
  color: skyblue;
}