
 body{
    background-color: #ffffff;
}

.header-logo{
    text-align: center;
}
.header-logo:after{
    white-space: pre;
    content: '窓にクラスの人数が書かれているよ！\A同じ誕生日の人が見つかりそうな人数の教室を選ぼう！';
    font-size: 1em;
    display: block;
}

.main{
    margin-top: 100px;
}
.kousha{
    margin:0 auto;
    width: 100px;
    height: 100px;
    background:#fff3b8;
    border-top: solid #c69c6d;
    border-left: solid #c69c6d;
    border-right: solid #c69c6d ;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.kousha_shita{
    margin:0 auto;
    width: 900px;
    height: 480px;
    background:#fff3b8;
    border: solid;
    border-color: #c69c6d;
    border-radius: 10px;
}

.button{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.button:hover{
    color: #000;
}

.button:active{
    color: aqua;
}
 .container{
     width: 100%;
     text-align: center;
     margin-top: 5%;
 }

.back{
    text-align: center;
}
